git<h2>Planning Item: {{ slugline }}</h2>

<p><strong>Assignment ID:</strong> {{ assignment_id }}</p>

<p><strong>Url:</strong> <a href="{{ client_url }}/#/workspace/assignments?assignment={{ assignment_id }}">View Assignment</a></p>

{% if event %}
    {% if event.get('slugline') %}
        <h3>Event: {{ event['slugline'] }}</h3>
    {% endif %}

    <p><strong>Event Url:</strong> <a href="{{ client_url }}/#/planning?preview={'id': '{{ event['id'] }}','type':'event' }}">View Event Details</a></p>

    {% if event.get('calendars') %}
        <p><strong>Calendars:</strong> 
        {% for calendar in event.get('calendars', []) %}
            {{ calendar.get('name', '') }}, 
        {% endfor %}
        </p>
    {% endif %}

    <p>{{ event_date_time }}, {{ location }}</p>

    {% if event.get('name') %}
        <p><strong>Event Name:</strong> {{ event['name'] }}</p>
    {% endif %}

    {% if event.get('definition_short') %}
        <p><strong>Description:</strong> {{ event['definition_short'] }}</p>
    {% endif %}

    {% if contacts | length is gt 0 %}
        <h3>Contacts:</h3>
        <ul>
        {% for contact in contacts %}
            <li>
                <strong>{{ contact.organisation }}</strong><br>
                {{ contact.name }}<br>
                {{ contact.email }}<br>
                {{ contact.phone }}{{ contact.mobile }}<br>
                {{ contact.website }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if event.get('related_items') %}
        <h3>Related Articles:</h3>
        <ul>
        {% for item in event.get('related_items', []) %}
            <li>
                {{ item.headline or item.slugline }}<br>
                <p><strong>Url:</strong> <a href="{{ client_url }}/#/search?repo={{ item.search_provider }}&_id={{ item.guid }}">View Assignment</a></p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <p><strong>Coverage Type:</strong> {{ coverage_type }}</p>

{% endif %}