{% set formatted_data = format_event_for_week(items, "nl") %}
<div>
    <p>De belangrijkste sportevenementen op de Belgische en internationale sportkalender van {{ formatted_data.start_date }} tot {{ formatted_data.end_date }} {{ formatted_data.month }}:</p>
</div>
{% for day_events in formatted_data.events_list %}
    <h3>{{ day_events.date.capitalize()}}</h3>
    <div>
        {% for subject, events in day_events.subjects.items() | sort %}
            <h4>{{ subject }}</h4>
            {% for event in events %}
            <div>
                <p>{{ event.local_time }}, {{ event.title }}<br></p>
                {% if event.location %}<p>{{ event.location }}<br></p>{% endif %}
                {% if event.description %}<p>{{ event.description }}<br></p>{% endif %}
                {% for link in event.links %}
                    <p><a href="{{ link }}">{{ link }}</a><br></p>
                {% endfor %}
            </div>
            {% endfor %}
            <div><br></div>
        {% endfor %}
    </div>
{% endfor %}
