-r requirements.txt

black==23.12.1
flake8==7.1.1
pep8==1.7.1
httmock==1.4.0
mypy==1.14.1
pytest==8.3.4
types-click==7.1.8
types-docutils==0.21.0.20241128
types-Flask==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-pytz==2025.1.0.20250204
types-requests==0.1.13
types-Werkzeug==1.0.9
