gunicorn==19.7.1
honcho==1.0.1
newrelic>=2.66,<2.67

-e git+git://github.com/idsvn/superdesk-core.git@video-edit#egg=Superdesk-Core
-e git+git://github.com/superdesk/superdesk-analytics.git@master#egg=superdesk-analytics
-e git+git://github.com/superdesk/superdesk-planning.git@master#egg=superdesk-planning
