gunicorn
honcho
gspread==6.2.1
oauth2client==4.1.3
pyparsing<3.3

git+https://github.com/superdesk/superdesk-core.git@develop#egg=Superdesk-Core
git+https://github.com/superdesk/superdesk-analytics.git@develop#egg=superdesk-analytics
git+https://github.com/superdesk/superdesk-planning.git@develop#egg=superdesk-planning
