gunicorn
honcho
gspread==3.1.0
oauth2client==4.1.3

git+https://github.com/MarkLark86/superdesk-core.git@SDBELGA-789#egg=Superdesk-Core
git+https://github.com/superdesk/superdesk-analytics.git@develop#egg=superdesk-analytics
git+https://github.com/superdesk/superdesk-planning.git@develop#egg=superdesk-planning
