<fieldset ng-controller="BelgaSearchPanelController as searchPanel">
    <div class="field">
        <label for="search-headline">{{:: 'Headline' | translate}}</label>
        <div class="control">
            <input type="text" id="search-headline" ng-model="params.headline" tabindex="1">
        </div>
    </div>

    <div class="field">
        <label class="search-label">Language</label>
        <label class="search-label" ng-repeat="languages in searchPanel.languages">
            <input type="checkbox" ng-model="params.languages[languages.id]" />
            {{ languages.name }}
        </label>
    </div>

    <div class="field">
        <label class="search-label" translate>Period</label>
        <select ng-model="params.period">
            <option ng-repeat="period in searchPanel.periods" value="{{ period.id }}">{{ period.name }}</option>
        </select>
    </div>
</fieldset>
